#banner{
    width: 100%;
}

.tituloprincipal{
    padding-left: 20px;
}

.titulocentralizado{
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    margin:40px 0 20px 50px;
}

.paragrafo{
    text-align: justify;
    font-size: 20px;
    margin:0 300px 0 300px;
}

#missao{
    text-align: justify;
    font-size:20px;
    margin:10px 300px 0 300px;
}

strong{
    font-weight: bold;
}

.lista{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    font-size: 20px;
    margin:70px 100px 0 300px;
}

.itens{
    margin-bottom: 30px;
}

.imagembeneficios{
    width: 35%;
    margin-bottom: 20px;
}

.funcionamento{
    margin-top: 10px;
}

.texto-tabela{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

table{
    margin: 20px 0 20px 550px;
}

thead{
    background:#fed35b;
    font-weight: bold;
    font-size: 20px;
}

td, th{
    border:1px solid #000000;
    padding: 8px 15px;
}